main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-grow: 1;
    background-color: whitesmoke;
    padding: 40px;
}

section h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding: 30px;
    color: black;
    font-weight: lighter;
}

form {
    color: #333;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}

button {
    background-color: rgb(0, 209, 0);
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
section p {
    color: gray;
    margin: 10px 0;
}

#privacidade {
    font-size: 12px;
    margin-top: 50px;
}

section h2 {
    font-size: 23px;
    color: gray;

}
section img {
    max-width: 40px;
}